/* Boton subtit e icono */
.submit {
    border: none;
    background: none;
}

.icon {
    cursor: pointer;
    font-size: 20px;
    transition: 
        transform ease 400ms,
        color ease 400ms;
}

.icon:hover {
    transform: scale(1.3);
    color: blue;
}